*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;

}

body {
 overflow-x: hidden;
 cursor: default;
}

button{
  cursor: pointer;
}

img{
  overflow: hidden;
}

:root{
  --scale: 1.2;
  --transitions-sm: 0.3s;
  --transitions-lg: 0.6s;
  --icons-colors: rgb(20, 39, 74);
  --filter-colors: rgba(20, 39, 74, 0.6);
  --icons-size-sm: 70px;
  --icons-size-lg: 50px;
  --primary-color: rgb(163, 5, 5);
  --secondary-color: white;
  --opt-color: rgb(20, 39, 74);
  --border-color: rgb(88, 0, 0)
}
