.mainCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.homeMain__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__picSection{
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.picSection__first{
 display: grid;
 grid-template-columns: 1fr 1fr;
 height: 400px;
 max-width: 100%;
 gap: 50px;

}

.picSection__first header{
  width: 30vw;
  display: flex;
  flex-direction: column;
  height: fit-content;
  place-self: center;
  gap: 50px;
  padding: 0;
  padding-left: 50px;
  border-left: solid 1px var(--icons-colors);
}

.picSection__first header h3{
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  font:bolder;
  margin: 0;
}

.picSection__first header p{
  margin: 0;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.picSection__first header h3, 
.picSection__first header p{

 /* border: solid rgb(89, 107, 184) 2px; */

}

.pic{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/todofirebase-df58c.appspot.com/o/IMG_6321.JPG?alt=media&token=e71d064b-9d52-43de-857b-f3e5acc0fdc6');
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
  isolation: isolate;
  position: relative;
  height: 100%;
}

.pic::after{
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--filter-colors);
  z-index: -1;
  opacity: 0.3;
}

.pic_second{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/todofirebase-df58c.appspot.com/o/43788701_1781709848600746_2146909608441020416_n.jpg?alt=media&token=38236767-4627-406f-8eed-0bfbee01cf0c');
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
  isolation: isolate;
  position: relative;
  height: 100%;
}

.pic_second::after{
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--filter-colors);
  z-index: -1;
  opacity: 0.3;
}


.service{
  display: grid;
  place-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
  gap: 20px;
}

.service h1{
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.service__icons{
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 70px;
  padding: 20px;
  border: solid 1px var(--icons-colors);
  transition: var(--transitions-lg);
}

.service__icons svg:hover{
  scale: var(--scale);
  transition: var(--transitions-sm);
}

.service__icons svg{
  font-size: var(--icons-size-sm);
}

.icons {
  display: grid;
  place-items: center;
  color: var(--icons-colors);
}

.icons h3{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}



@media (prefers-reduced-motion: no-preference){
    
  .service{
    scale: .4;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 300px;
  }

  /* .picSection__first{
    scale: .99;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 100px 200px;
  } */

  @keyframes fade-in{
    /* from {
      
    } */

    /* to{
      scale: 1;
      opacity: 1;
    } */
  }
}






/* Media queries for smaller screens */
/* ===== SMALL DEVICES =====*/
@media screen and (max-width: 768px) {

 .picSection__first{
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 500px;
  gap: 20px;
  margin: 0;
  padding: 0;
 }

 .picSection__first header p{
  line-height: auto;
  margin: 0;
  overflow: visible;
 }

  .picSection__first header{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 90vw;
    align-items: flex-start;
    height: fit-content;
    place-self: start;
    gap: 10px;
    padding-left: 50px;
    border-left: solid 1px var(--icons-colors);
  }

  .pic{
    margin: 0;
    width: 95vw;
  }

  
  .service__icons{
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
    padding: 10px;
    border-bottom: solid 1px var(--icons-colors);
  }
  .service__icons svg{
    font-size: var(--icons-size-lg);
  }
  .icons h3{
    font-weight: 700;
    font-size: 15px;
    
  }
}


/* ===== MEDIUM DEVICES =====*/
@media screen and (max-width: 1024px) {
  .picSection__first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 550px;
    width: 80vw;
    gap: 20px;
    margin: 0;
    padding: 0;
   }
  
   .picSection__first header p{
    line-height: auto;
    margin: 0;
    overflow: visible;
   }
  
    .picSection__first header{
      /* display: flex;
      flex-direction: column;
      justify-content: center; */
      align-items: flex-start;
      height: fit-content;
      place-self: start;
      gap: 10px;
      padding-left: 50px;
      border-left: solid 1px var(--icons-colors);
      width: 90vw;
    }
  
    .pic{
      margin: 0;
      width: 85vw;
    }

    .service__icons{
      display: flex;
      flex-wrap:wrap;
      gap: 20px;
    }
    .service__icons svg{
      font-size: var(--icons-size-lg);
    }
    .icons h3{
      font-weight: 700;
      font-size: 15px;
      
    }
}


@media screen and (max-width:400px){
  
}