.header__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
  width: 100vw;
  height: 90vh;
  position: relative;
  isolation: isolate;
  
  /* transform-origin: bottom;
  animation: header-img-animation linear forwards;
  animation-timeline: view();
  animation-range: exit; */
}

.header__container button{
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: larger;
}

.header__text{
  display: flex;
  flex-direction: column;
  color: white;
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit 100px;
}

.header__text h2{
  font-family: "Libre Baskerville", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 154px;
}

.header__text h4{
  font-family: "Libre Baskerville", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
}

.header__text h5{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 35px;
}

.header__text p{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}


.header__container::after{
  content: '';
  inset: 0;
  z-index: -1;
  background-color: rgb(38, 39, 90);
  position: absolute;
  opacity: .4;
}



@media (prefers-reduced-motion: no-preference){

    @keyframes header-img-animation{
    45%{ opacity: 1;}
    95%, 100%{ opacity: 0; scale: 1.5;}
  }

  @keyframes fade-out{
    to{
      opacity: 0;
    }
  }
}



/* Media queries for smaller screens */
/* ===== SMALL DEVICES =====*/
@media screen and (max-width: 768px) {
  .header__text{
    margin-left: 50px;
    margin-right: 50px;
  }
  .header__text h2 {
    font-size: 12vw; /* adjust as needed */
  }

  .header__container{
    height: 60vh;
  }
  .header__container button{
    padding: 10px 15px;
    gap: 5px;
    font-weight: 400;
    font-size: 15px;
  }
}


/* ===== MEDIUM DEVICES =====*/
@media screen and (max-width: 1024px) {
  .header__text h2 {
    font-size: 13vw;
  }

  .header__container{
    height: 60vh;
  }
}

/* @media (max-width: 480px) {
  .header__text h2 {
    font-size: 16vw; 
  }
} */
