.booking__header_container{
  display: flex;
  width: 100vw;
  height: 300px;
  background-color: var(--opt-color);
  position: relative;
}

.booking__header_container header{
  position: absolute;
  bottom: 0;
  color: white;
}

form{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

form button{
  padding: 20px 20px;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}

.form__first__section__container{
  display: grid;
  place-items: center;
  gap: 30px;
  width: 100%;
}

.form__field__container{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border: solid 2px var(--opt-color);
  border-radius: 10px;
}

.form__field__container input{
  height: 40px;
}

.booking__inputdetails__container{
  /* background-image: url('https://firebasestorage.googleapis.com/v0/b/rockviewhotel-752a8.appspot.com/o/rooms%2Flogo.jpg?alt=media&token=c68e88d3-da3e-4b0e-95c0-8d87af382101'); */
  /* width: 100vw; */
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  background-color: rgba(179, 0, 0, .6);
  border-radius: 10px;
  border: solid 1px rgb(20, 39, 74);
  box-shadow: 5px 7px 10px rgba(231, 74, 74, 0.8);
}

.form__wrapper{
  /* width: 50vw; */
  border: solid var(--opt-color) 2px;
  display: grid;
  place-items: center;
  margin:  50px;
  padding: 20px;
}

.date__picker{
 margin-top: 50px; 
 margin: auto;
}

.success{
  color: rgb(0, 255, 0);
  opacity: 0.7;
  margin-left: 10px;
  margin-top: 10px;
  height: 50px;
  width: 600px;
  border-radius: 5px;
  transition: opacity 1.5s ease;
  background-color: rgb(174, 211, 174);
}



/*----------------antd css design overwrite ----------------------*/
.ant-picker{
  width: 80%;
}
