.bookingScreen__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 position: relative;
 transition: filter 0.3s;
  overflow: visible;
}

.BookingScreenfilter{
  filter: blur(5px);
  pointer-events: none;
}

.deactive__background{
  filter: blur(5px);
  pointer-events: none;
}

.bookingScreen__header-container{
  display: grid;
  place-items: center;
  width: 100vw;
  overflow: hidden;
} 

.header__pic-carousel-container{
  position: relative;
  /* border: solid 2px rgb(0, 0, 0); */
  height: 400px;
  width: 100vw;
}

.avilable__rooms__section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 100vw;
  margin-top: 70px;
}

.close__icon{
  position: relative;
  top: 10px;
  right: 10px; 
}

.close__icon svg{
 cursor: pointer;
 font-size: 35px;
 color: rgb(196, 1, 1);
 transition: var(--transitions-sm);
}

.close__icon svg:hover{
  color: rgb(245, 0, 0, .7);
  scale: 1.2;
}


/*-------------- ant designs -----------------*/
.ant-carousel .slick-next{
  width: 16px;
  height: 16px;
  background: none;
  background-color: var(--primary-color);
  padding: 2px;
}

.ant-carousel .slick-prev{
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  padding: 2px;
}

.ant-booking-carousel
img{
  object-position:center;
  object-fit: fill;
  height: 400px;
  width: 100%;
}

.ant-card.ant-card-bordered{
  width: 40%;
}

.bkcard__btn__booknow{
  padding: 20px 30px;
  color: white;
  background: var(--primary-color);
  border: 0;
  border-radius: 3px;
}

.booking_details{
  position: fixed;
  /* display: none; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.setShow{
  display: flex;
}

.removeShow{
  display: none;
}

.service__section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.service__section h1{
  font-size: xx-large;
}



@media screen and (max-width: 768px){

  .ant-booking-carousel
  img{
    object-position:center;
    object-fit: fill;
    height: 300px;
    width: 100vw;
    color: rgb(182, 185, 187);
  }

  .bookingScreen__header-container{
    width: 100vw;
  }

  .header__pic-carousel-container{
    width: 100vw;
  }
  .ant-card.ant-card-bordered{
    width: 80vw;
  }

  .header__pic-carousel-container{
    height: 300px;
  }

}