.bookingScreen__container{
 border: solid 2px red;
}


.bookingScreen__header-container{
  border: solid blue 2px;
  display: grid;
  place-items: center;
  width: 100vw;
  overflow: hidden;
} 

.header__pic-carousel-container{
  position: relative;
  border: solid 2px rgb(0, 0, 0);
  height: 400px;
  width: 100vw;
}

.avilable__rooms__section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 70px;
}




/*-------------- ant designs -----------------*/
.ant-booking-carousel
img{
  object-position:center;
  object-fit: fill;
  height: 400px;
  width: 100%;
}

.bkcard__btn__booknow{
  padding: 20px 30px;
  color: white;
  background: var(--primary-color);
  border: 0;
  border-radius: 3px;
}